html {
   background-image: linear-gradient(to top, #4682b4, #3a86c7, #2d8ada, #218ded, #1e90ff);
   background-repeat: no-repeat;
   height: 100%;
}
.list {
   text-align: left;
   max-width: 750px;
   margin: auto;
 }
 
 .submit-form {
   max-width: 300px;
   margin: auto;
 }
 
 .edit-form {
   max-width: 300px;
   margin: auto;
 }
.MuiPagination-ul {
   justify-content: center;
}
.MuiSvgIcon-root {
   border-radius:50%;
}
.MuiAvatar-root.MuiAvatar-circle {
   margin: 0 auto;
   width: 90px;
   height: 90px;
}
.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
width: 30px;
height: 30px;
}
.table-responsive {
   padding-bottom: 40px;
}
