body{
   background: #edf1f5;
   margin-top:20px;
}
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 0 solid transparent;
   border-radius: 0;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
   width: 50px;
   height: 50px;
   padding: 14px 15px;
   font-size: 18px;
   line-height: 23px;
}
.text-muted {
   color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
   cursor: pointer;
}
.btn-circle {
   border-radius: 100%;
   width: 40px;
   height: 40px;
   padding: 10px;
}
.user-table tbody tr .category-select {
   max-width: 150px;
   border-radius: 20px;
}
.btn-outline-info {
   color: #2196f3;
   border-color: #2196f3;
  }
  .btn-outline-info:hover {
     color: #fff;
     background-color:#2196f3;
     border-color: #2196f3;
  }
  .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
     color: #fff;
     background-color: #2196f3;
     border-color:#2196f3;
  }
