
@media only screen
and (min-device-width : 280px)
and (max-device-width : 596px) {
   .VictoryContainer > svg {
      min-width: 280px!important;
      max-width: 584px!important;
      margin: 0;
      overflow: hidden;
   }
   h5.MuiTypography-root.MuiTypography-h5.MuiTypography-colorTextSecondary {
      text-align: center;
   }
}